extends layout
block content
  
  .row.justify-content-center
    .col-lg-8
      h1 Fujitsu / Knowledge Engine
      h3.text-secondary Lead UI/UX Designer
      
      .mt-5
        h3.mb-3 Project Overview
        p The Knowledge Engine was created to provide an engaging way for Fujitsu's research and development deparment to create research projects curated from a variety of sources and formats. Some these include scientific studies, web articles, YouTube videos, PowerPoint presentations amongst many others.
        
        p This platform was originally built a few years ago but was not widely used by Fujitsu employees. Upon my research and conversations with Fujitsu employees I learned this was due in part to them finding the platform confusing to use and a dated looking UI that did not entice them to use it.
      
      .mt-5
        h3 Project Research
        p Before starting the redesign process. I met with the program director, program manager, lead researcher and marketing lead who would be the team I would be working on this project with to learn what problems needed to be solved. I learned that oddly enough there had not been prior research internally for the platform amongst empoloyees/potential users. After learning this I was able to form a group of 7 volunteers for a focus group. The team and I created a set of simple tasks such as creating an account, searching for a topic and sharing it and creating a new project. We watched them attempt each of these tasks and also asked them to write down their thoughts on the current platform and any questions they had.
        
        p I then met with the marketing lead where he showed me some similar platforms and we discussed what parts of these platforms could be useful for the Knowledge Engine as well as things that made those platforms difficult to use and that we could avoid.
        
        p Along the redesign process I created prototypes using InVision which was a vital tool in learning if the user journies we created were intuitive and effective. Having the team go through them provided great feedback and aided in quick iterations of the UX design process.
        
      .mt-5
        h3 Project Goal
        p The main goal of this project was to increase the number of users of the platform. How we would accomplish this would be by a redesign of both the user interface as well as rethinking the overall user experience and making it enjoyable and intuitive to use.
        
      
      .mt-5
        h3 Project Challenges
        p Probably the biggest challenge of this project was the limited time we had to complete it. I was challenged to have all user journies completed a new UI designed as well as the front end implemented in only three months. This gave me two months for the research and design process and one month for implementing the front end which would be handed off to the back end engineers in China.
        
      .mt-5
        h3 Next Steps
        p The engineers in China will be maintaining the platform and implementing new features requested by the users. I had a great time working on this project and am anxious to know how it is received once completed.
        
      .mt-5
        a(href="/")
          span.fa.fa-angle-left
          span.ml-2 Back
