extends layout
block content
  
  .row.justify-content-center
    .col-lg-8
      h1 Google / Android Contacts App
      h3.text-secondary UX Production Designer
      
      .mt-5
        h3.mb-3 Project Overview
        p Contacts is Google's official application for managing contacts. Google releases updates roughly every six weeks. 
        
        
      .mt-5
        h3 Project Goal
        p The goal for Contacts app is to provide users a robust yet intuitive solution to manage their relationships rather than simply acting as an address book. These relationships should include personal, professional as well as those with businesses themselves.
      
      .mt-5
        h3 Project Challenges
        p One challenge that we faced while updating Contacts was the contact profile view on the app. Prior to version 2.0 a contact profile had a large header section meant for that contacts the took up more than half the screen. The problem was research showed the majority of users never took the time to upload an image for their contacts and so most users would simply have an avatar with the contact's initial. Feedback in the Google Play Store showed users felt this was a waste of space. Following this feedback the decision was made to reduce the height of the header section to a third of the screen and place the profile image inside a circle within the header.

      .mt-5
        a(href="/")
          span.fa.fa-angle-left
          span.ml-2 Back
