extends layout

block content
  .row.mb-5
    .col-lg-6.text-lg-right.text-md-left
      img.img-fluid.mb-3(src="images/contacts_app_placeholder.jpg")
    .col-lg-6
      h4 Google / Android Contacts App
      h5.text-secondary.mb-3 UX Production Designer
      p Contacts is the official Google app for managing your contacts.
  
  .row.mb-5
    .col-lg-6.text-lg-right.text-md-left
      img.img-fluid.mb-3(src="https://unsplash.it/400/300/?random")
    .col-lg-6
      h4 Fujitsu - Goal Sharing App
      h5.text-secondary.mb-3 Lead UX Designer
      p This app was designed and built for Fujitsu's R&amp;D department as a way for people to share their goals as well as view people with similar goals and see how they were able to succeed in that goal.
  
  .row.mb
    .col-lg-6.text-lg-right.text-md-left
      img.img-fluid.mb-3(src="")
    .col-lg-6
      h4  Nightwatch
      h5.text-secondary.mb-3 Lead UX Designer/Developer
      p Nightwatch is a cross platform app that monitors the health of horses who wear a paired device.
