doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body
    .container.mt-5
      .row.d-flex.justify-content-around
        .col-lg-2
          a(href="/")
            img.img-fluid(src="images/lLogo.png")
          ul.list-group
            a.text-secondary.list-group-item(href="/about") About
            a.text-secondary.list-group-item(href="/about") Contact
            h4.list-group-item Projects
            a.text-secondary.list-group-item(href="/google") Google Contacts
            a.text-secondary.list-group-item(href="/fujitsu") Fujitsu Goals 
            a.text-secondary.list-group-item(href="/fujitsu") Nightwatch
          
          .mt-5
            a.fa.fa-instagram.social.text-secondary(href="https://www.instagram.com/llongdesign/") 
            a.fa.fa-linkedin.ml-3.social.text-secondary(href="https://linkedin.com/in/llong")
        .col-lg-9
          block content
        
        footer
           span.text-secondary Hand coded with love using Node.js
