extends layout
block content
  
  .row.justify-content-center
    .col-lg-8
      h1 Nightwatch / Horse Monitoring App
      h3.text-secondary Lead UI/UX Designer
      
      .mt-5
        h3.mb-3 Project Overview
        p 
        
      .mt-5
        h3 Project Goal
        p 
        
      
      .mt-5
        h3 Project Challenges
        p 
        
      .mt-5
        h3 Next Steps
        p 
        
      .mt-5
        a(href="/")
          span.fa.fa-angle-left
          span.ml-2 Back
